header{
		border: 1px dotted green;
}

nav {
	display: flex;
	list-style: none;
}
nav li {
	padding-left: 6px;
}
.disabled{
	color:grey; 
}
a.disabled{
	color: purple;
}
.active{
	color: yellow;
}
.parent div:first-child {
	color: red;
}
.parent div:nth-child(2n+3) {
	color: blue;
}
.parent div:first-child~h4{
	background-color: red;
}
.parent div:nth-child(2n+3)~h4 {
	background-color: blue;
}
.grandparent>h4{
	border: 1px solid black;
	border-radius: 3px;
}
.promo{
	font-weight: bold;
	color: gold;
}
footer  span input[type^=text]{
	height: 25px;
}